.error-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  span:not(:first-of-type) {
    font-size: 12px;
  }

  > a {
    margin: 15px 0 5px 0;
    padding: 10px 0;
    border-radius: 50px;
    font-size: 12px;
    width: 110px;
    text-align: center;

    &:nth-of-type(2) {
      margin: 5px 0;
    }

    &:nth-of-type(3) {
      margin: 5px 0;
      padding: 0;
      width: 150px;
      color: #008eff;
    }
  }
}