.receipt-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.receipt-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;

  input {
    width: 100%;
    margin: 10px 0;
  }

  button {
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 12px;
    width: 110px;
    text-align: center;
  }
}