.app {
  display: flex;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  justify-content: center;
  background: #fbfbfb;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 850px;
  }
}