.header {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    > button {
      padding: 10px 0;
      border-radius: 50px;
      font-size: 12px;
      width: 110px;
    }
  }