.item {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  box-shadow: 0px 0px 15px 0px #d8d8d8;

  .item-wrapper {
    display: flex;
    img {
      width: 100px;
      height: 100px;
      border-radius: 4px;
    }

    .info {
      padding: 0 10px;
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: 600;
        color: #3F51B5;
      }

      span {
        font-size: 12px;
      }
    }
  }

  p {
    font-size: 12px;
  }

  .settings-container {
    display: flex;
    flex-direction: column;

    .red-element {
      width: 120px;
      text-align: center;
      padding: 5px;
      border-radius: 100px;
    }
  }
}