@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src:
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-300.eot") format("eot"),
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-300.ttf") format("ttf"),
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-300.woff") format("woff"),
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-300.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src:
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-regular.eot") format("eot"),
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-regular.ttf") format("ttf"),
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-regular.woff") format("woff"),
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src:
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-600.eot") format("eot"),
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-600.ttf") format("ttf"),
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-600.woff") format("woff"),
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-600.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src:
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-700.eot") format("eot"),
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-700.ttf") format("ttf"),
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-700.woff") format("woff"),
    url("./assets/fonts/Open_Sans/open-sans-v15-latin-700.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fbfbfb;
}

#root {
  min-height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a, button {
  transition: all .25s ease-in;
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

input {
  outline: none;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #eaeaea;

  &:focus {
    border: 1px solid #b2beff;
  }
}

h1 {
  text-align: center;
  font-weight: 100;
  font-size: 25px;
  a {
    color: #673AB7;
  }
}

h2 {
  font-size: 20px;
  font-weight: 400;
  color: #2f2f2f;
  margin: 10px 0;
}

.purple-element {
  color: #ffffff;
  background: #3F51B5;
  &:hover {
    background: #263276;
  }
}

.pink-element {
  color: #ffffff;
  background: #E91E63;
  &:hover {
    background: #c51954;
  }
}

.red-element {
  color: white;
  background: #F44336;
  &:hover {
    background: #d9362a;
  }
}

.error-msg {
  font-size: 12px;
  color: #ef3a2b;
  margin: 10px 0;
}