.receipts {
  padding: 0 20px;
  width: 100%;
  .purple-element {
    margin: 20px 10px 10px 0;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 12px;
    width: 110px;
    text-align: center;
  }

  label {
    margin: 0 5px 0 0;
    font-size: 12px;
    font-weight: 600;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 0;
  }
}